<div class="card-body master-product">
    <h5 class="card-title">{{name}}</h5>
    <h2 class="my-4 display-6">${{price}}</h2>
    {{> ../list/variants variant=variations}}
    <br />
    <a href="#" data-id={{ID}} class="btn btn-primary mt-2 master-product__add-button">
        Add to basket
    </a>
</div>