<div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h2 class="my-4 display-6">${{price}}</h2>
    // TODO <br />
    {{> ../list/variants variant=variations}}
    <br />
    <a href="#" class="btn btn-primary mt-2">Add to basket</a>
</div>