<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>E-commerce Shop</title>
    </head>
    <body>
        {{{body}}}
    </body>
    <script src="js/compiled/app.js"></script>
</html>
