<div class="container mt-5">
    <h1 class="mb-2">Wellcome to our shop!</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae consequatur id est, nulla porro quas
        blanditiis quia corporis nostrum maxime debitis beatae maiores! Placeat itaque inventore eos aliquid reiciendis
        quia.
    </p>
</div>