<div id="list-spinner" class="d-flex justify-content-center mt-5">
    <div class="spinner-border" role="status">
    </div>
</div>
<div id="list" class="mt-2 d-flex d-none">
    <div id="list-refinement" class="w-25">
        {{!-- options --}}
    </div>
    <div id="list-data" class="w-75 d-flex flex-wrap align-content-start text-center justify-content-center">
    </div>
</div>
