#baket-table {
    width: 70%;
}

#baket-summary {
    width: 30%;
}

.quantity-btn {
    text-decoration: none;
}

.max-items {
    font-weight: 400;
    font-size: 12px;
}

.basket-row {
    vertical-align: middle!important;
}

.summary__totalDiscountText {
    font-size: 12px;
}

.loading {
    opacity: 0.5;
    cursor: disabled;
}