<div class="card">
  <div class="card-body">
    <h5 class="card-title">Total</h5>
    <p>Shipping:
      {{#if ([helpers/isEqual] shipping defaultShipping)}}
      <b>${{shipping}}</b>
      {{else}}
      <del class="">${{defaultShipping}}</del><b> ${{shipping}}</b>
      {{/if}}
    </p>
    <p>TODO: finish block</p>
    <a href="#" class="btn btn-primary">Calculate taxes</a>
  </div>
</div>