{{> filters pagination}}
<div class="d-flex flex-wrap align-content-start text-center justify-content-center w-100">
{{#each item}}
    {{> masterProduct this}}
{{/each}}
</div>
{{> pagination pagination}}