.master-product {
    width: 300px;
    max-height: 560px;
}

.master-product__image {
    width: 298px;
    height: 298px;
}

.master-product__noimage {
    width: 298px;
    height: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.master-product__brand {
    font-size: 14px;
}

.master-product__add-button {
    width: 100%;
}

.master-product__name-link  {
    text-decoration: none;
}